{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="box-container">
	<div class="box color-transparent">
          	<h1>{{ article.name|raw }}</h1>
          	<h2>{{ article.perex|raw }}</h2>          	
    </div>
    <div class="box img">
          	<img src="../../uploads/img/master/{{ article.picture }}">
    </div>
    <div class="box100 color-transparent">
      <div class="article-text">
        {{ article.text|raw }}
      </div>
    <div class="date-of-created">
    {{ article.dateOfCreated|date('d. m. Y') }}
    </div>
</div>


  <span id="comments"></span>
  <div class="box100 color-transparent">
  {{ form(form) }}

      {% for comment in comments %}
    	<div class="komentar">
          <h4>{{ comment.name }}</h4><span>{{ comment.dateOfComment|date('d. m. Y H:i') }}</span>
          <p>{{ comment.text }}</p>
          <div class="div-for-anchor" id="commentId-{{ comment.id }}"></div>
    	</div>
      {% endfor %}
  </div>
  
</div>
{% endblock %}