{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="box-container">
	<div class="box color-transparent">
          	<h1>{{ article.name|raw }}</h1>
          	<h2>{{ article.perex|raw }}</h2>          	
    </div>
    <div class="box img">
          	<img src="../../uploads/img/master/{{ article.picture }}">
    </div>
    <div class="box100 color-transparent">
      <div class="article-text">
        {{ article.text|raw }}

        {% if article.author %}
          <div class="author">
            <span class="author-name">{{ article.author.name }} {{ article.author.surname }} | </span>
            <span class="author-email">{{ article.author.email }}</span>
          </div>
        {% endif %}
      </div>
      {% if zobrazDatum %}
          <div class="date-of-created">
            {{ article.dateOfCreated|date('d. m. Y') }}
          </div>
      {% endif %}
    </div>
</div>

  {% if form %}
      <span id="comments"></span>
      <div class="box100 color-transparent">
      {{ form(form) }}

          {% for comment in comments %}
            <div class="komentar">
              <h4>{{ comment.name }}</h4><span>{{ comment.dateOfComment|date('d. m. Y H:i') }}</span>
              <p>{{ comment.text }}</p>
              <div class="div-for-anchor" id="commentId-{{ comment.id }}"></div>
            </div>
          {% endfor %}
      </div>
  {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $(".article-text img").each(function(){
            let popisek = $(this).attr("alt");
            if (popisek != ""){
                $(this).wrap("<div class=img-alt-popisek></div>");
                $("<p class='alt-popisek'>" + popisek + "</p>").insertAfter(this);
            }
        });
    </script>
{% endblock %}
