{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="container">
  <section class="article">
    <div class="hero-container">
      <div class="article-header">
          <div class="article-name-perex">
          	<h1>{{ article.name|raw }}</h1>
          	<h2>{{ article.perex|raw }}</h2>
          </div>
          <div class="master-image">
          	<img src="../../uploads/img/master/{{ article.picture }}">
          </div>
      </div>
      <div class="article-text">
        {{ article.text|raw }}
      </div>
    </div>
    <div class="date-of-created">
    {{ article.dateOfCreated|date('d. m. Y') }}
    </div>
  </section>
  <span id="comments"></span>
  {{ form(form) }}
  <div class="komentare">
      {% for comment in comments %}
    	<div class="komentar">
          <h4>{{ comment.name }}</h4><span>{{ comment.dateOfComment|date('d. m. Y H:i') }}</span>
          <p>{{ comment.text }}</p>
          <div class="div-for-anchor" id="commentId-{{ comment.id }}"></div>
    	</div>
      {% endfor %}
  </div>
  
</div>
{% endblock %}