<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
        <link href="{{ asset('css/admin/main.css') }}" rel="stylesheet">
        <script src="{{ asset('lib/tinymce/js/tinymce/tinymce.min.js') }}"></script>
          <script>
  			tinymce.init({
  			  selector: '.tinymce',
  			  height: 500,
  			  menubar: false,
  			  plugins: [
  			    'advlist autolink lists link image charmap print preview anchor textcolor',
  			    'searchreplace visualblocks code fullscreen',
  			    'insertdatetime media table paste code help wordcount image imagetools code'
  			  ],
  			  toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help | link image code',
  			  content_css: [
  			    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
  			    '//www.tiny.cloud/css/codepen.min.css'
  			  ],
  			  images_upload_url: 'FileUploadModel.php',
  			});
  		</script>
  		
    </head>
    <body>
        <nav>
            {% block sidebar %}
                <ul>
    				<li><a href="{{ path('home') }}">Domů</a></li>
    				<li><a href="{{ path('listArticle') }}">Zobraz články</a></li>
        			<li><a href="{{ path('saveArticle') }}">Nový članek</a></li>
        			{% if not is_granted('ROLE_USER') %}
        				<li><a href="{{ path('app_login') }}">LOGIN</a></li>
        			{% endif %}
        			{% if is_granted('ROLE_USER') %}
        				<li><a href="{{ path('app_logout') }}">LOGOUT</a></li>
                    {% endif %}
        			<li><a href="{{ path('app_register') }}">Registrace</a></li>
				</ul>
            {% endblock %}
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>