<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>brukev.cz</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="brukev, zahrada" name="keywords">
  <meta content="Zahradnický portál" name="description">

  <!-- Favicons -->
  <link href="{{ asset('img/favicon.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Athiti&display=swap" rel="stylesheet">


  <!-- Bootstrap css -->
  <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="{{ asset('css/frontend/style.css') }}" rel="stylesheet">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148811395-1"></script>
  <script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-148811395-1');
  </script>
  

</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/">brukev<span>.cz</span></a></h1>
      </div>
      
      <nav id="nav-menu-container">
          {{ render(controller('App\\Controller\\CategoryController:showMenu')) }}
      </nav><!-- #nav-menu-container -->
      
    </div>
  </header><!-- #header -->

<div class="container main-container">
{% block body %}{% endblock %}
</div>

{% include 'frontend/footer.html.twig' %}

  
</body>
</html>
