{% extends 'frontend/base.html.twig' %}


{% block body %}

<h1>{{ categoryData.name }}</h1>
<div class="box-container">
{% for article in categoryList %}
<div class="box">
  <a href="{{ path('showArticleDetail', { 'seoTitle': article.seoTitle }) }}">
    <div class="feature-block">
      <img src="../../uploads/img/master/{{ article.picture }}" alt="img" class="img-fluid">
      <h2>{{ article.name|raw }}</h2>
      <p>{{ article.perex|raw }}</p>
    </div>
  </a>
</div>
{% endfor %}

</div>

{% endblock %}

