<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" rel="stylesheet">
		<link href="{{ asset('css/admin/main.css') }}" rel="stylesheet">
        <script src="{{ asset('lib/tinymce/js/tinymce/tinymce.min.js') }}"></script>
        <script>
  			tinymce.init({
  			  selector: '.tinymce',
  			  height: 500,
  			  menubar: false,
  			  entity_encoding : "raw",
  			  plugins: [
  			    'advlist autolink lists link image charmap print preview anchor textcolor',
  			    'searchreplace visualblocks code fullscreen',
  			    'insertdatetime media table paste code help wordcount image imagetools code'
  			  ],
  			  toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help | link image code',
  			  content_css: [
  			    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
  			    '//www.tiny.cloud/css/codepen.min.css'
  			  ],
  			  images_upload_url: '{{ path('fileUpload') }}',
  			  relative_urls : false,
			  setup: function (editor) {
  				editor.on('change', function () {
  				  editor.save();
  				});
  			  }
  			});
  		</script>
  		
    </head>
    <body>
        <nav class="col-xs-3">
            {% block sidebar %}
                <ul>
    				<li><i class="fas fa-igloo"></i><a href="{{ path('home') }}">Domů</a></li>
    			</ul>
    			<ul>
    				<li><i class="far fa-file-alt"></i><a href="{{ path('listArticle') }}">Zobraz články</a></li>
    				<li><i class="far fa-trash-alt"></i><a href="{{ path('listTrash') }}">Koš</a></li>
        			<li><i class="far fa-file"></i><a href="{{ path('saveArticle') }}">Nový članek</a></li>
        		</ul>
        		<ul>
    				<li><i class="far fa-file-alt"></i><a href="{{ path('listCategories') }}">Zobraz kategorie</a></li>
    				<li><i class="far fa-file"></i><a href="{{ path('saveCategory') }}">Nová kategorie</a></li>
        		</ul>
        		<ul>
    				<li><i class="far fa-comment"></i><a href="{{ path('listComments') }}">Zobraz komentáře</a></li>
        		</ul>
        		<ul>
    				<li><i class="fas fa-crosshairs"></i><a href="{{ path('listSpaces') }}">Zobraz Spaces</a></li>
        		</ul>        		        		
        		<ul>
    				<li><i class="fas fa-cogs"></i><a href="{{ path('listConfig') }}">Nastavení</a></li>
        		</ul>
    			<ul>
        			{% if not is_granted('ROLE_USER') %}
        				<li><i class="fas fa-sign-in-alt"></i><a href="{{ path('app_login') }}">LOGIN</a></li>
        			{% endif %}
        			{% if is_granted('ROLE_USER') %}
        				<li><i class="fas fa-sign-out-alt"></i><a href="{{ path('app_logout') }}">LOGOUT</a></li>
                    {% endif %}
        			<li><i class="far fa-address-card"></i><a href="{{ path('listUsers') }}">Uživatelé</a></li>
				</ul>
            {% endblock %}
        </nav>

        <main class="col-xs-9">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>