{% extends 'frontend/base.html.twig' %}

{% block body %}

        <div class="banner">
            <img src="img/banner1.jpg">
            TECHNIC SKIN
        </div>
        <main>
            <div class="box-container">
                <div class="box">
                    <h1>{{ space.getArticleInSpace('hp-top-left').name }}</h1>
                    {{ space.getArticleInSpace('hp-top-left').text|raw }}
                </div>
                <div class="box">
                    <h1>{{ space.getArticleInSpace('hp-top-right').name }}</h1>
                    {{ space.getArticleInSpace('hp-top-right').text|raw }}
                </div>
                <div class="box box100">
                    <h1>{{ space.getArticleInSpace('hp-bottom').name }}</h1>
                    {{ space.getArticleInSpace('hp-bottom').text|raw }}
                </div>
        </main>
        <div class="gallery">
            <div class="gallery-slickme">
                <img src="img/gallery/1.jpg">
                <img src="img/gallery/2.jpg">
                <img src="img/gallery/3.jpg">
                <img src="img/gallery/4.jpg">
                <img src="img/gallery/5.jpg">
                <img src="img/gallery/6.jpg">
            </div>
        </div>
    </div>

{% endblock %}