{% extends 'admin/base.html.twig' %}


{% block body %}
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-primary btn-lg mb-3"><a href="{{ path('saveArticle') }}">Nový članek</a></button>
			<button type="button" class="btn btn-primary btn-lg"><a href="{{ path('saveCategory') }}">Nová kategorie</a></button>
			<button type="button" class="btn btn-primary btn-lg"><a href="{{ path('listUsers') }}">Uživatelé</a></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-primary btn-lg"><a href="{{ path('FEhome') }}">Zobrazit Váš web</a></button>
			<button type="button" class="btn btn-primary btn-lg"><a href="{{ path('app_logout') }}">Odhlásit se z administrace</a></button>
		</div>
	</div>
{% endblock %}