{% extends 'admin/base.html.twig' %}

{% block body %}

<table>
    <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">Perex</th>
            <th scope="col">akce</th>
            <th scope="col">zveřejněno</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        	<tr>
        		<td>
                    {{ article.name }}
            	</td>
            	<td>
                    {{ article.perex|slice(0, 50) ~ '...' }}
            	</td>
            	<td>
                    <a href="{{ path('saveArticle', { 'articleId': article.id }) }}">Editovat</a> | <a href="{{ path('showArticleDetail', { 'seoTitle': article.seoTitle }) }}">Zobrazit  na webu</a> | <a href="{{ path('articleToTrash', { 'article': article.id }) }}">Smazat</a>
            	</td>
            	<td>
                    {% if article.state == 1 %}
                    	<i class="fas fa-check"></i>
                    {% else %}
                    	<i class="fas fa-minus"></i>
                    {% endif %}
            	</td>
    		</tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}