{% extends 'frontend/base.html.twig' %}

{% block body %}

<div class="container">
<div class="row">
{% for article in latestArticles %}
    {% if loop.first %}
	    <div class="col-lg-12">
          <a href="{{ path('showArticleDetail', { 'seoTitle': article.seoTitle }) }}">
            <div class="feature-block feature-block-top-article row">
           		<div class="col-lg-6">
              		<img src="../../uploads/img/master/{{ article.picture }}" alt="img" class="">
              	</div>
              	<div class="col-lg-6">
              		<h4>{{ article.name|raw }}</h4>
              		<p class="perex">{{ article.perex|raw }}</p>

                    {% set paragraphs = article.text|split('</p>') %}
                    {% set firstParagraph = paragraphs|first ~ '</p>' %}
                    {% set firstParagraph = firstParagraph|striptags %}
                    {% set firstParagraph = firstParagraph|slice(0, 333) %}
              		<p>{{ firstParagraph }}</p>
              		<i>{{ article.dateOfCreated|date('d. m. Y') }}</i>
              	</div>
            </div>
          </a>
        </div>
    {% else %}
        <div class="col-md-6 col-lg-4">
          <a href="{{ path('showArticleDetail', { 'seoTitle': article.seoTitle }) }}">
            <div class="feature-block">
              <img src="../../uploads/img/master/{{ article.picture }}" alt="img" class="img-fluid">
              <h4>{{ article.name|raw }}</h>
              <p>{{ article.perex|raw }}</p>
            </div>
          </a>
        </div>
    {% endif %}
{% endfor %}
</div>
</div>

{% for article in categoryList %}
        {{ article.text|raw }}
{% endfor %}


{% endblock %}