{% extends 'frontend/base.html.twig' %}

{% block body %}

        <div class="banner">
            <img src="img/banner1.jpg">
        </div>
        <main>
            <div class="box-container">
                <div class="box">
                    <h1>{{ space.getArticleInSpace('Hotel').name }}</h1>
                    {{ space.getArticleInSpace('Hotel').text|raw }}
                </div>
                <div class="box">
                    <h1>{{ space.getArticleInSpace('Lyzovani').name }}</h1>
                    {{ space.getArticleInSpace('Lyzovani').text|raw }}
                </div>
                <div class="box box100">
                    <h1>{{ space.getArticleInSpace('Objednavky').name }}</h1>
                    {{ space.getArticleInSpace('Objednavky').text|raw }}
                </div>
        </main>
        <div class="gallery">
            <div class="gallery-slickme">
                <img src="img/gallery/hotel.jpg">
                <img src="img/gallery/1.jpg">
                <img src="img/gallery/2.jpg">
                <img src="img/gallery/3.jpg">
                <img src="img/gallery/4.jpg">
                <img src="img/gallery/5.jpg">
                <img src="img/gallery/6.jpg">
                <img src="img/gallery/7.jpg">
                <img src="img/gallery/9.jpg">
                <img src="img/gallery/10.jpg">
                <img src="img/gallery/11.jpg">
                <img src="img/gallery/12.jpg">
            </div>
        </div>
    </div>


{% endblock %}