{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="container">
  <section class="article">
    <div class="hero-container">
      <div class="article-header">
          <div class="article-name-perex">
          	<h1>{{ article.name|raw }}</h1>
          	<h2>{{ article.perex|raw }}</h2>
          </div>
          <div class="master-image">
          	<img src="../../uploads/img/master/{{ article.picture }}">
          </div>
      </div>
      <div class="article-text">
        {{ article.text|raw }}
      </div>
    </div>
    <div class="date-of-created">
    {{ article.dateOfCreated|date('d. m. Y') }}
    </div>
  </section>
</div>
{% endblock %}