<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>/*DEMO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="brukev, CMS, demo" name="keywords">
  <meta content="demo brukev web" name="description">

  <link href="{{ asset('img/favicon.png') }}" rel="icon">

  <!-- Main Stylesheet File -->
  <link href="{{ asset('css/frontend/brukevStyle.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#" class=""><img src="demo-brukev-logo.png"></a>
  		<nav id="main-nav">
            {{ render(controller('App\\Controller\\CategoryController::showMenu')) }}
    	</nav>
    </header>




  
<div class="main-container">
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
      {{ message|raw }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
</div>

{% include 'frontend/footer.html.twig' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
</body>
</html>
