<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>/*DEMO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="brukev, CMS, demo" name="keywords">
  <meta content="demo brukev web" name="description">

  <link href="{{ asset('img/favicon.png') }}" rel="icon">

  <!-- Main Stylesheet File -->
  <link href="{{ asset('css/frontend/brukevStyle.css') }}" rel="stylesheet">
  
  {#
  --- TECHNIC SKIN ---
  <link href="{{ asset('css/frontend-technic/brukevStyle.css') }}" rel="stylesheet">
  #}
  
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/slick/slick.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('lib/slick/slick-theme.css') }}">
</head>

<body>
    <header>
        <a href="/" class=""><img src="{{ asset('brukev-logo.png') }}"></a>
  		<nav id="main-nav">
            {{ render(controller('App\\Controller\\CategoryController::showMenu')) }}
    	</nav>
        <div>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn btn-lg btn-primary">Odhlásit se</a>
            {% else %}
                <a href="{{ path('app_login', {'webLogin': true}) }}" class="btn btn-lg btn-primary">Přihlásit se</a>
            {% endif %}

        </div>
    </header>




  
<div class="main-container">
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
      {{ message|raw }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
</div>

{% include 'frontend/footer.html.twig' %}

<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="{{ asset('lib/slick/slick.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function() {
          $(".gallery-slickme").slick({
            infinite: true,
            autoplay: true,
            slidesToShow: 4,
            slidesToScroll: 1
          });
        });
    </script>

  
</body>
</html>
